#logoSection2{
    width: 1200px;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 50px;
    margin: auto;
}
#logoSection2>div{
    width: 24%;
    height: auto;
    /* border: 1px solid blue; */
    margin-left: 20px;
}
#logoSection2>div>.c1{
    color:#999ea2 ; 
}
#logoSection3{
    width: 800px;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 80px;
    margin-left: 65px;
}
#logoSection3>div{
    width: 48%;
    height: auto;
    /* border: 1px solid blue; */
    margin-left: 20px;
}

.size{
    width: 210px;
    height: 416px;
}

#logoSection3>div>div{
    width: 100%;
height: 15%;
/* border: 1px solid blue; */
margin-top: 15px;
   
}

/* .playStore{
    width: 100px;
    height: auto;
    border: 1px solid black;
    background-color: #576066;
    display: flex;
} */

#playStore{
    width: 48%;
    height: 100%;
    /* border: 1px solid black; */
    box-sizing: border-box;
}
.btnImg{
    width: 25px;
    height: 25px;
}
.btn1{
    width: 45%;
    height: 100%;
    background-color: #576066;
    border-radius: 5px;
    margin-left: 10px;
    color: white;
  
  
}
.btn1>img{
   
    width: 25px;
    height: 25px;
   padding-left: 1%;
}

.btn1:hover{
    cursor: pointer;
}

#footersection{
    margin-top: 100px;
    width: 100%;
    height: 400px;
    background-color: #f4f7fb;
    box-sizing: border-box;
}

#footerbox{
    width: 1000px;
   height: 500px;
   
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    box-sizing: border-box;
}
#footerbox>div{
    margin-top: 100px;
    width: 25%;
    height: auto;
    /* border: 1px solid blue; */
    font-size: 20px;
    padding: auto;
    
}
#footerbox>div>P:hover{
    cursor: pointer;
}
a{
    
    color: #999ea2;
    text-decoration: none;
}
.font{
    margin-top: 15px;
  
    font-size: 40px;
    color: #10847e;
}


.fa-brands{
    margin-top: 15px;
  
    font-size: 40px;
    color: #10847e;
}


/* payment section page */


#div25{
    width:100%;
    height:230px;
    background-color: rgb(244,247,251);
    border-top: 1px solid whitesmoke;
    }
    
    
    #div25>h2{
        margin-top: 100px;
    margin-left: 153px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(17, 17, 87);
    padding-top: 20px;
    }
    
    #div27{
     width: auto;
     height: auto;
     display: flex;
     justify-content: center;
    }
    
    
    #div25>div>div{
     display: flex;
     width:77%;
     height: auto;
     /* border:1px solid blue; */
    
    } 
    
    #div26{
    width:77%;
    /* border:1px solid teal; */
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(auto);
    gap:3px;
    }
    
    #div26>img{
    width: 45px;
    height: 40px;
    }
    
    #div28{
    padding-left: 25px;
    font-size: 16px;
    font-family: sans-serif;
    color: #4f585e;
    }
    
    /*payment section end style  */